/* ************ */
/* Product Page */
/* ************ */

.customerPhotos {
	margin-top: 15px;
	padding: 5px;
	
	width: 100%;
	height: auto;
	
	border: 1px solid #7a7a7a;
	
	display: grid;
    justify-items: center;
	justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.customerPhotos .photo {
	width: 98%;
	height: 95%;
}

.customerPhotos button {
	width: 98%;
}

.customerUpload {
	width: 100%;
	
    display: grid;
    grid-template-columns: 1fr 1fr;
}